<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirigir index.php a la raíz
    RewriteRule ^index\.php$ / [NC,L,R=301]

    # Ocultar la extensión .php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php [L]

    # Manejar todas las demás solicitudes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L,QSA]
</IfModule>